<!DOCTYPE html>
<html>
	<head>
		<title>OMDB Search</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/jquery.fancybox.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="./js/script.js"></script>
		<script src="./js/jquery.fancybox.pack.js"></script>
		<script>
      var obj = {
        id: '<%= id %>'
        title: '<%= title %>'
        year: '<%= year %>'
      };
		</script>
	</head>
	<body>
		<div id="container">
      <div class="panel panel-primary">
				<div class="panel-heading"><h1>Added To Favorites</h1></div>

        <div class="panel-body">
          <h2><%= title %></h2>
        </div>
        <div class="panel-footer">
          <center>
            <a class="btn btn-primary btn-lg" href="/favorites" role="button">Favorites</a> <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
          </center>
        </div>
			</div>
		</div>
	</body>
</html>
